<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountProfileController</servlet-name>
        <servlet-class>controller.AccountProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddArticleController</servlet-name>
        <servlet-class>controller.AddArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateArticleController</servlet-name>
        <servlet-class>controller.UpdateArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArticleController</servlet-name>
        <servlet-class>controller.DeleteArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CmtController</servlet-name>
        <servlet-class>controller.CmtController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCmtController</servlet-name>
        <servlet-class>controller.AdminCmtController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountProfileController</servlet-name>
        <url-pattern>/AccountProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddArticleController</servlet-name>
        <url-pattern>/AddArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateArticleController</servlet-name>
        <url-pattern>/UpdateArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArticleController</servlet-name>
        <url-pattern>/DeleteArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CmtController</servlet-name>
        <url-pattern>/CmtController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCmtController</servlet-name>
        <url-pattern>/AdminCmtController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
     <error-page>
        <error-code>500</error-code>
        <location>/Errorpage.jsp</location>
    </error-page>
</web-app>
